<div class='content'>
    <div class='jumbotron'>
        @model UserModel
        <form asp-action='Register' asp-controller='Home' method="POST" autocomplete=off>
            <h4>Register</h4>
            <p class='error'>@ViewBag.FirstName</p>
            <label asp-for="FirstName">First Name:</label>
            <input type='text' asp-for='FirstName' placeholder="Enter first name" class="form-control" value="@ViewBag.fname"> 
            <p class='error'>@ViewBag.LastName</p>
            <label asp-for="LastName">Last Name:</label>
            <input type='text' asp-for='LastName' placeholder="Enter last name" class="form-control" value="@ViewBag.lname">
            <p class='error'>@ViewBag.Email</p>
            <label asp-for="Email">Email:</label>
            <input type='text' asp-for='Email' placeholder="Enter email" class="form-control" value="@ViewBag.emailAddress">
            <div class="form-group">
                <p class='error'>@ViewBag.Password</p>
                <label asp-for="Password">Password</label>
                <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                <label asp-for="ConfirmPassword">Confirm password</label>
                <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class='link-container'>
        <a href='/login'>Already Registered?</a>
    </div>
</div>